@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 150vh;
  background-color: #2941ab;
  background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
  background-size: 175%;
  background-position: 46% 4%;
  position: relative;
}

header nav {
  height: 80px;
  width: 100vw;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

header nav .navwrapper {
  width: 85%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav .navwrapper img {
  width: 140px;
}

header nav .navwrapper .bar {
  display: none;
}

header nav .navwrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header nav .navwrapper ul li {
  font-size: 18px;
  font-weight: bold;
  margin: 0 24px;
}

header nav .navwrapper ul li a {
  color: #fff;
  font-size: 16px;
}

header nav .navwrapper ul li a:hover {
  color: #1ed760;
}

.header-text {
  text-align: center;
  color: white;
  margin-top: 200px;
  font-size: 50px;
}

footer {
  width: 100vw;
  height: 530px;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footerdiv {
  width: 85vw;
  height: 450px;
  position: relative;
}

footer .footerdiv .footer1 {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerdiv .footer1 .footer1-1 {
  width: 180px;
  height: 400px;
}

footer .footerdiv .footer1 .footer1-1 img {
  width: 150px;
}

footer .footerdiv .footer1 .footer1-2 {
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerdiv .footer1 .footer1-2 .f2 {
  width: 195px;
  height: 400px;
}

footer .footerdiv .footer1 .footer1-2 .f2 ul span {
  color: #919496;
  font-size: 15px;
  line-height: 3;
}

footer .footerdiv .footer1 .footer1-2 .f2 ul li {
  font-size: 19px;
  padding: 3px 0 15px;
}

footer .footerdiv .footer1 .footer1-2 .f2 ul li a {
  color: white;
}

footer .footerdiv .footer1 .footer1-2 .f2 ul li a:hover {
  color: #1ed760;
}

footer .footerdiv .footer1 .footer1-3 {
  width: 250px;
  height: 400px;
  position: absolute;
  right: 20px;
}

footer .footerdiv .footer1 .footer1-3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerdiv .footer1 .footer1-3 ul li {
  width: 50px;
  height: 50px;
  background-color: #222326;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footerdiv .footer1 .footer1-3 ul li a {
  font-size: 21px;
  color: white;
}

footer .footerdiv .footer1 .footer1-3 ul li a:hover {
  color: #1ed760;
}

footer .footerdiv .footer2 {
  width: 100%;
  height: 50px;
}

footer .footerdiv .footer2 .footer2-1 {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  position: relative;
}

footer .footerdiv .footer2 .footer2-1 span {
  position: absolute;
  right: 20px;
}

footer .footerdiv .footer2 .footer2-1 span a {
  color: white;
  font-size: 13px;
}

footer .footerdiv .footer2 .footer2-1 span a:hover {
  color: #1ed760;
}

footer .footerdiv .footer2 .footer2-2 {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footerdiv .footer2 .footer2-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footerdiv .footer2 .footer2-2 ul li {
  font-size: 13px;
  margin-right: 20px;
}

footer .footerdiv .footer2 .footer2-2 ul li a {
  font-size: 13px;
  color: #919496;
}

footer .footerdiv .footer2 .footer2-2 ul li a:hover {
  color: #1ed760;
}

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  body header {
    height: 120vh;
  }
  body header nav .navwrapper {
    width: 80%;
  }
  body footer .footerdiv .footer1 .footer1-1 {
    margin-right: 20px;
  }
  body footer .footerdiv .footer1 .footer1-3 {
    margin-left: 20px;
  }
  body footer .footerdiv .footer2 {
    position: relative;
  }
  body footer .footerdiv .footer2 .footer2-1 span {
    position: absolute;
    right: 20px;
  }
}

@media screen and (max-width: 991px) {
  header nav .navwrapper .bar {
    display: block;
  }
  header nav .navwrapper ul {
    display: none;
  }
  footer {
    width: 100vw;
    height: 730px;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .footerdiv {
    width: 85vw;
    height: 700px;
    position: relative;
  }
  footer .footerdiv .footer1 {
    width: 100%;
    height: 550px;
    display: block;
    margin-top: 50px;
  }
  footer .footerdiv .footer1 .footer1-1 {
    width: 180px;
    height: 70px;
  }
  footer .footerdiv .footer1 .footer1-1 img {
    width: 150px;
  }
  footer .footerdiv .footer1 .footer1-2 {
    width: 700px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  footer .footerdiv .footer1 .footer1-3 {
    width: 250px;
    height: 70px;
    position: absolute;
    left: -20px;
  }
  footer .footerdiv .footer1 .footer1-3 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footerdiv .footer1 .footer1-3 ul li {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 20px;
  }
  footer .footerdiv .footer2 {
    width: 100%;
    height: 80px;
  }
  footer .footerdiv .footer2 .footer2-2 {
    width: 100%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
  }
  footer .footerdiv .footer2 .footer2-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footerdiv .footer2 .footer2-2 ul li {
    font-size: 13px;
    margin-right: 20px;
  }
  footer .footerdiv .footer2 .footer2-2 ul li a {
    font-size: 13px;
    color: #919496;
  }
  footer .footerdiv .footer2 .footer2-2 ul li a:hover {
    color: #1ed760;
  }
}

@media screen and (max-width: 767px) {
  header {
    background-size: 225%;
  }
  header nav {
    width: 100%;
  }
  header nav .navwrapper {
    width: 95%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  header nav .navwrapper img {
    width: 130px;
  }
  header nav .navwrapper .bar {
    display: block;
  }
  header nav .navwrapper ul {
    display: none;
  }
  footer {
    width: 100vw;
    height: 1130px;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .footerdiv {
    width: 85vw;
    height: 1010px;
    position: relative;
  }
  footer .footerdiv .footer1 {
    width: 100%;
    height: 900px;
    display: block;
  }
  footer .footerdiv .footer1 .footer1-1 {
    width: 180px;
    height: 80px;
  }
  footer .footerdiv .footer1 .footer1-1 img {
    width: 150px;
  }
  footer .footerdiv .footer1 .footer1-2 {
    width: 200px;
    height: 700px;
    display: block;
  }
  footer .footerdiv .footer1 .footer1-2 .f2 {
    width: 195px;
    height: 250px;
  }
  footer .footerdiv .footer1 .footer1-3 {
    width: 250px;
    height: 100px;
    position: absolute;
    bottom: 40px;
    right: 20px;
  }
  footer .footerdiv .footer2 {
    width: 100%;
    height: 50px;
  }
  footer .footerdiv .footer2 .footer2-1 {
    width: 100%;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    position: relative;
  }
  footer .footerdiv .footer2 .footer2-1 span {
    position: absolute;
    right: 20px;
  }
  footer .footerdiv .footer2 .footer2-1 span a {
    color: white;
    font-size: 10px;
  }
  footer .footerdiv .footer2 .footer2-1 span a:hover {
    color: #1ed760;
  }
  footer .footerdiv .footer2 .footer2-2 {
    width: 100%;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  footer .footerdiv .footer2 .footer2-2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footerdiv .footer2 .footer2-2 ul li {
    font-size: 10px;
    margin-right: 20px;
  }
  footer .footerdiv .footer2 .footer2-2 ul li a {
    font-size: 9px;
    color: #919496;
  }
  footer .footerdiv .footer2 .footer2-2 ul li a:hover {
    color: #1ed760;
  }
}
/*# sourceMappingURL=download.css.map */
